h1 {
    font-family: 'Satisfy', cursive;
    text-align: center;
}

h3 {
    text-align: center;
}

body {
    font-size: 16px;
    margin-left: 25%;
    margin-right: 25%;
}

.tableauPlaceholder{
    position: center;
}

.jeffery_container {
    width: 70%;
    height: auto;
}